
.futer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
  
    
  }
  
  .futer > p{
    color: white;
    padding-left: 101px;
    font-size: 14px ;
   
  }
  
  .futer > img{
    padding-right: 101px;
  }
  